<table *ngIf="dataSource.data && dataSource.data.length > 0" mat-table [dataSource]="dataSource" multiTemplateDataRows>
  <ng-container matColumnDef="neighborhood">
    <th mat-header-cell *matHeaderCellDef> Neighborhood </th>
    <td mat-cell *matCellDef="let element"> {{element.neighborhood}} </td>
  </ng-container>

  <ng-container matColumnDef="neighborhoodEntityType">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.neighborhoodEntityType}} </td>
  </ng-container>

  <ng-container matColumnDef="postalCode">
    <th mat-header-cell *matHeaderCellDef> Postal Code </th>
    <td mat-cell *matCellDef="let element"> {{element.postalCode}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef=" displayColumns;"></tr>
  <tr mat-row *matRowDef="let element; columns:  displayColumns;"></tr>
</table>
